.header {
  position: fixed;
  z-index: 1;
  width: 100%;
}

.add-event-mobile {
  display: none;
}

@media (max-width: 750px) {
  .add-event-mobile {
    display: block;
    position: absolute;
  }
}
