.header {
  background-color: white;
  background-image: linear-gradient(
    135deg,
    rgb(24, 42, 115) 0%,
    rgb(33, 138, 174) 69%,
    rgb(32, 167, 172) 89%
  );

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__left {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__right {
  padding-right: 24px;
}

.menu-mobile {
  display: none;
}

.header__left-menubar {
  background-color: transparent;
  color: white;
  margin-left: 16px;
}

.header__auth {
  display: flex;
  align-items: center;
}

.ant-menu-item-selected {
  color: white !important;
  background-color: rgba(255, 255, 255, 0.15);
}

.ant-menu-item:hover {
  color: white !important;
}

.btn {
  line-height: 16px;
  border-radius: 5px;
  border: 2px solid #90c8d7;
  color: #fff;
  background-color: transparent;
}

.btn:hover {
  border-color: #fff;
  color: #fff;
  background-color: transparent;
}

.btn:focus {
  background-color: transparent;
  color: #fff;
}

@media (max-width: 750px) {
  .header {
    padding: 0 24px;
  }

  .header__left-menubar {
    display: none;
  }

  .header__left-actions {
    display: none;
  }

  .header__right {
    display: none;
  }

  .menu-mobile {
    display: block;
  }
}
