body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.btn {
  border-radius: 5px;
  font-weight: 400 !important;
  color: #fff !important;
}

.btn.btn--primary,
.btn.btn--primary:hover,
.btn.btn--primary:focus {
  background-color: #00b5ad;
  border-color: #00b5ad;
}

.btn.btn--default,
.btn.btn--default:hover,
.btn.btn--default:focus {
  background-color: rgb(224, 225, 226);
  border-color: rgb(224, 225, 226);
  color: rgba(0, 0, 0, 0.6) !important;
}

.btn.btn--warning,
.btn.btn--warning:hover,
.btn.btn--warning:focus {
  background-color: rgb(242, 113, 28);
  border-color: rgb(242, 113, 28);
}

.btn.btn--success,
.btn.btn--success:hover,
.btn.btn--success:focus {
  background-color: #21ba45;
  border-color: #21ba45;
}

.btn.btn--danger,
.btn.btn--danger:hover,
.btn.btn--danger:focus {
  background-color: #ff7875;
  border-color: #ff7875;
}

.btn.btn--warning:hover,
.btn.btn--warning:focus,
.btn.btn--primary:hover,
.btn.btn--primary:focus,
.btn.btn--default:hover,
.btn.btn--default:focus,
.btn.btn--success:hover,
.btn.btn--success:focus,
.btn.btn--danger:hover,
.btn.btn--danger:focus {
  filter: brightness(0.9);
}

.card {
  border-radius: 5px !important;
  overflow: hidden !important;
  box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.2) !important;
  margin-bottom: 24px !important;
}

.card.card--ribbon {
  overflow: unset !important;
}

.ribbon {
  position: absolute;
  top: 12px;
  right: -30px;
  margin-right: 0;
}

.ribbon.ribbon--danger::before,
.ribbon.ribbon--warning::before {
  content: '';
  display: block;
  position: absolute;
  top: 100%;
  right: 0;

  border-width: 5px;
  border-style: solid;
}

.ribbon.ribbon--danger::before {
  border-color: #b21e1e transparent transparent #b21e1e;
}

.ribbon.ribbon--warning::before {
  border-color: #cf590c transparent transparent #cf590c;
}
